<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: webjar(title='Credit')}">
    <meta charset="UTF-8">
    <title>Credit</title>
</head>
<body>

<div class="container">
    <header th:replace="~{fragments/header :: header(headerTitle='Credit me')}"></header>

    <main class="container">
        <div class="row g-4 align-items-center justify-content-center">
            <div class="col-md-6 col-lg-8">

                <div class="row">
                    <h3 class="col text-start">Credit</h3>

                    <th:block sec:authorize="hasAuthority('CLIENT')">
                        <form class="col text-end" th:if="${isFavorite} == false" th:action="@{/favorites/add}"
                              th:object="${credit}" method="post">
                            <input type="hidden" name="creditId" th:value="*{creditId}">
                            <input type="submit" class="btn btn-success" value="Add to favorites">
                        </form>

                        <form class="col text-end" th:if="${isFavorite} == true" th:action="@{/favorites/remove}"
                              th:object="${credit}" method="post">
                            <input type="hidden" name="creditId" th:value="*{creditId}">
                            <input type="submit" class="btn btn-danger" value="Remove from favorites">
                        </form>
                    </th:block>
                </div>



                <th:block th:if="${credit}" th:object="${credit}">
                    <form th:replace="~{fragments/creditForm :: creditForm(action='/credit/request', credit=${credit}, mode=${mode}, errorMessage=${errorMessage})}"></form>
                </th:block>
            </div>
        </div>
    </main>

    <footer th:replace="~{fragments/footer :: footer}"></footer>
</div>
</body>
</html>