<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: webjar(title='Favorites')}">
    <meta charset="UTF-8">
    <title>Favorites</title>
</head>
<body>

<div class="container">
    <header th:replace="~{fragments/header :: header(headerTitle='Credit me')}"></header>

    <main class="container">
        <div class="row g-4 align-items-center justify-content-center">
            <div class="col-12 col-lg-8">
                <h4 class="pb-2" th:text="Favorites"></h4>
                <th:block sec:authorize="hasAuthority('CLIENT')">
                    <table th:replace="~{fragments/table :: table}"></table>
                </th:block>
            </div>
        </div>
    </main>

    <footer th:replace="~{fragments/footer :: footer}"></footer>
</div>
</body>
</html>