<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>creditForm</title>
</head>
<body>
<form th:fragment="creditForm (action, credit, mode)"
      th:object="${credit}"
      th:action="${action}"
      method="POST"
      id="creditForm">
    <fieldset>
        <legend>Credit data</legend>
        <label for="creditId">Id: </label>
        <input id="creditId" type="number" name="creditId" th:value="${credit.creditId}" readonly></input>
        <br/>

        <label for="name" class="form-label">Name: </label>
        <input id="name" class="form-control" type="text" name="name" th:value="*{name}" th:readonly="${mode != 'edit'}"></input>
        <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="text-danger"></span>
        <br/>

        <label for="bankId" class="form-label" th:hidden="true">bankId: </label>
        <input id="bankId" class="form-control" type="text" name="bankId" th:value="*{bankId}" th:hidden="true"></input>
        <span th:if="${#fields.hasErrors('bankId')}" th:errors="*{bankId}" class="text-danger"></span>
        <br/>

        <label for="maxSum">Max sum: </label>
        <input id="maxSum" type="number" name="maxSum" th:value="*{maxSum}" th:readonly="${mode != 'edit'}"></input>
        <span th:if="${#fields.hasErrors('maxSum')}" th:errors="*{maxSum}" class="text-danger"></span>
        <br/>

        <label for="rate" class="form-label">Rate: </label>
        <input id="rate" type="number" step="0.01" name="rate" th:value="*{rate}" th:readonly="${mode != 'edit'}"></input>
        <span th:if="${#fields.hasErrors('rate')}" th:errors="*{rate}" class="text-danger"></span>
        <br/>

        <label for="dateFrom" class="form-label">Date from: </label>
        <input id="dateFrom" class="form-control" type="date" name="dateFrom" th:value="${#temporals.format(credit.dateFrom, 'yyyy-MM-dd')}"th:readonly="${mode != 'edit'}"></input>
        <br/>

        <label for="dateTo" class="form-label">Date to: </label>
        <input id="dateTo" class="form-control" type="date" name="dateTo" th:value="${#temporals.format(credit.dateTo, 'yyyy-MM-dd')}" th:readonly="${mode != 'edit'}"></input>
        <br/>

    </fieldset>
    <input th:if="${mode != 'edit'}" type="submit" value="Edit"/>
    <input th:if="${mode == 'edit'}" type="submit" value="Save"/>
</form>
</body>
</html>