<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <td th:fragment="cells(field, row, header)">

        <!-- ru/sber/edu/entity/Credit.java     -->
        <th:block th:if="${field} == 'credit--NameLinkToCard'">
            <a th:href="'/credit/' + ${row.get('creditId')}" th:text="${row.get('name')}">Link</a>
        </th:block>

        <!-- ru/sber/edu/entity/CreditOffer.java     -->
        <th:block th:if="${field} == 'creditOffer--LinkToCreditOffer'">
            <a th:href="'/bank/creditOffer/credit/' + ${row.get('creditId')}+'/user/'+${row.get('userId')}" th:text="${row.get('creditName')}">Link</a>
        </th:block>


        <!-- ru/sber/edu/entity/FavoriteCredit.java     -->
        <th:block th:if="${field} == 'favoriteCredit-NameLinkToCredit'">
            <a th:href="'/credit/' + ${row.get('creditId')}" th:text="${row.get('name')}">Link</a>
        </th:block>
        <th:block th:if="${field} == 'favoriteCredit-delete-favorite'">
            <form method="post" th:action="@{/favorites/remove}">
                <input type="hidden" name="creditId" th:value="${row.get('creditId')}"/>
                <input type="submit" class="btn btn btn-danger" value="Remove from favorites"/>
            </form>
        </th:block>

    </td>
</body>
</html>