<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>search</title>
</head>
<body>

<div th:fragment="search (searchValue)" th:with="action=${action} ?: '/search', placeholder=${placeholder} ?: 'Search...'">

    <form method="get" th:action="@{${action}}" class="pb-3">
        <div class="row">
            <div class="col-sm-6 col-md-8 col-4">
                <input name="value" class="form-control" type="search" th:placeholder="${placeholder}"
                       th:value="${searchValue}">
            </div>
            <div class="col-sm-6 col-md-4 col">
                <button class="btn btn-light" type="submit">Search</button>
            </div>
        </div>
    </form>
</div>

</body>
</html>