<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: webjar(title='500')}">
    <meta charset="UTF-8">
    <title>500</title>
</head>
<body>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-6 text-center">
                <h2 class="">Something goes wrong! Sorry... Try again later</h2>
                <a class="" href="/">Go home!</a>
            </div>
        </div>
    </div>
</body>
</html>