<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>Credit</title>
</head>
<body>
<h1>Create</h1>
<form method="POST" th:object="${credit}" action="/bank/credit/create" >
  <fieldset>
    <legend>Credit data</legend>

    <label for="name">Name: </label>
    <input id="name" type="text" name="name" th:value="${credit.name}" ></input>
    <br/>

    <label for="maxSum">Max sum: </label>
    <input id="maxSum" type="number" name="maxSum" th:value="${credit.maxSum}"></input>
    <br/>

    <label for="rate">Rate: </label>
    <input id="rate" type="number" name="rate" th:value="${credit.rate}"></input>
    <br/>

    <label for="dateFrom">Date from: </label>
    <input id="dateFrom" type="date" name="dateFrom" th:value="${#temporals.format(credit.dateFrom, 'yyyy-MM-dd')}"></input>
    <br/>

    <label for="dateTo">Date to: </label>
    <input id="dateTo" type="date" name="dateTo" th:value="${#temporals.format(credit.dateTo, 'yyyy-MM-dd')}"></input>
    <br/>
  </fieldset>
  <input type="submit" value="Create"/>
</form>
</body>
</html>