<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{fragments/head :: webjar(title='Home')}">
    <meta charset="UTF-8">
    <title>Home page</title>
</head>
<body>

<div class="container">
    <header th:replace="~{fragments/header :: header(headerTitle='Credit me')}"></header>

    <div th:replace="~{fragments/search :: search(searchValue=${searchValue}) }"></div>

    <th:block sec:authorize="isAuthenticated() == false">
        <table th:replace="~{fragments/table :: table}"></table>
    </th:block>

    <th:block sec:authorize="hasAuthority('CLIENT')">
        <table th:replace="~{fragments/table :: table}"></table>
    </th:block>

    <div class="row g-4 align-items-center justify-content-center">
        <div class="col-md-6 col-lg-8 text-center">

            <th:block sec:authorize="hasAuthority('BANK')">
                <h2 th:if="${bank}" th:text="${bank.name}"></h2>
            </th:block>
        </div>
    </div>

    <footer th:replace="~{fragments/footer :: footer}"></footer>
</div>
</body>
</html>