<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{fragments/head :: webjar(title='Login')}">
    <meta charset="UTF-8">
    <title>Login page</title>
</head>
<body>
    <div class="container">
        <h1>Login form</h1>
        <h1 th:if="${isLogged} == true">You are logged!</h1>
        <form th:if="${isLogged} == false" th:action="@{/login}" method="POST">
            <p th:if="${errorMessage}" th:text="${errorMessage}">Error</p>
            <div class="mb-3">
                <label for="username" class="form-label">Login</label>
                <input type="text" class="form-control" name="username" id="username" aria-describedby="usernameHelp">
                <div id="usernameHelp" class="form-text">user login</div>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" name="password" id="password">
            </div>
            <button type="submit" class="btn btn-primary">Log in</button>
        </form>
    </div>
</body>
</html>