<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: webjar(title='Create credit')}">
  <meta charset="UTF-8">
  <title>Credit</title>
</head>
<body>
<div class="container" th:object="${credit}">
  <header th:replace="~{fragments/header :: header(headerTitle='Credit me')}"></header>
  <form th:replace="~{fragments/creditForm :: creditForm(action=${action}, credit = ${credit}, mode = ${mode},
    errorMessage = ${errorMessage})}"></form>
</div>
</body>
</html>